html{
	scroll-behavior: smooth;
}
body{
	background-color: #130f40;
}
a{
	color:#686de0;
}
a:hover{
	text-decoration: none;
}
.social-links{
	position: fixed;
	color: black;
	bottom: 50px;
	right: 5px;
	font-size: 35px;
	animation-name: show_social_icons;
	animation-duration: 2s;
}
.link-item{
	border-right: 2px solid #130f40;
	/* border-right: 2px solid #30336b; */
}
.link-item:hover{
	border-right: 2px solid #a55eea;
	/* animation-name: grow_social_icons;
	animation-duration: 2s; */
}
@keyframes grow_social_icons {
	from {font-size: 35px;}
	to {font-size: 45px;}
  }

@keyframes show_social_icons{
	from{right: -100px;}
	to {right: 5px}
}
.info{
	color: #ffbe76;
	font-size: 20px;
	font-family: 'Inconsolata', monospace;
	transform: translate(20px,20px);
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'), url(https://fonts.gstatic.com/s/inconsolata/v17/QldKNThLqRwH-OJ1UHjlKGlZ5qhExfHw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.navbar-items{
	font-size: 18px;
	animation-name: show;
}
.college{
	font-size: 20px;
	color: #ffbe76;
}
.inconsolata{
	font-family: 'Inconsolata';
}
#overlay{
	position: fixed; /* Sit on top of the page content */
	display: none; /* Hidden by default */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0; 
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.7); /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer; /* Add a pointer on hover */
}
.resume{
	border: 1px solid rgb(100, 255, 218);
	color: rgb(100, 255, 218);
	font-size: 18px;
}
.resume:hover{
	color: rgb(100, 255, 218);
	background-color: rgba(100,255,218,0.2);
}
.unicorn{
	left: 10px;
	top: 20px;
	position: relative;
	animation-name: left-in;
	animation-duration: 2s;
}
@keyframes left-in{
	from {left:-200px;}
	to {left:10px;}
}
.contact{
	font-size: 110px;
	color: rgb(230,240,255);
	font-weight: 700;
}
.lets-talk{
	color: #fc5c65;
	text-decoration: line-through;
}
.lets-talk:hover{
	color: #fc5c65;
	text-decoration: none;
}